/* Normalize.css
-------------------------- */
@import '~normalize.css/normalize.css';

/* Element UI
-------------------------- */
@import '~element-ui/packages/theme-chalk/src/index';

/* Theme Light (default)
-------------------------- */
@import './Default.scss';

/* Theme Dark
-------------------------- */
@import './Dark.scss';

.el-message {
    border-radius: 3px;
    border-width: 0px;
    padding: 5px 5px 5px 10px;
    opacity: .65;
}